################################################################
#  File name   : Archive_all_temp.cfg
#  Description : add File extensions here to Archive(CCN-APPServer)
#  Created     : 11/07/2017 sxg151
#
#
###############################################################
*.log
*.ftplog
*.POLLINGDONE
*.REQUEST
*.queue


