export ORACLE_HOME=/swpkg/oracle/product/11.2.0.3/client_1
export ORACLE_SID=STCCND1
export PATH=/bin:/usr/bin:/usr/sbin:/usr/local/bin:/swpkg/oracle/product/11.2.0.3/client_1/bin
export HOME=/app/ccn
export HOSTNAME=`hostname`
export CLASSPATH=.:./lib/jdom.jar:./lib/common-1.9.jar:./lib/commons-codec-1.10.jar:./lib/commons-logging-1.2.jar:./lib/httpclient-4.4.jar:./lib/httpcore-4.4.4.jar:./lib/httpmime-4.4.jar:./lib/jackson-all-1.9.0.jar:./lib/jackson-core-asl-1.9.3.jar.

. /app/ccn/polling.config