PRIMESUBUSERNAME=PrimeSub
PRIMESUBPASSWORD=abc123
PRIMESUBENVIRONMENT=PrimeSub

TERRUSERNAME=TERR
TERRPASSWORD=abc123
TERRENVIRONMENT=TERR

STOREUSERNAME=STORE
STOREPASSWORD=abc123
STOREENVIRONMENT=STORE

PARAMUSERNAME=PARAM
PARAMPASSWORD=abc123
PARAMENVIRONMENT=PARAM

FTP_QUEUE=Y

STR_FILE_NAME=StoreUpdate
TER_FILE_NAME=TerritoryUpdate
PRM_FILE_NAME=ParamUpdate
GL_PS_FILE_NAME=PrimeSubUpdate

QUEUE_MGR="*DEVGET"
CNSMR_NM="CCN.INITIAL.LOAD.Q"