################################################################
#  File name   : Archive_all_temp.cfg
#  Description : add File extensions here to Archive(CCN-DBServer)
#  Created     : sxg151
#
#
###############################################################
*.log
cmd_start*.sh
*_backfeed*
_backfeed.txt.
*.dat
*.csv


