export ORACLE_HOME=/swpkg/oracle/product/stccn/11.2.0.3
export ORACLE_SID=STCCND1
export PATH=/bin:/usr/bin:/usr/sbin:/usr/local/bin:/swpkg/oracle/product/stccn/11.2.0.3/bin
export HOME=/app/ccn/dev

sqlplus_user=costcntr
sqlplus_pw=costcntr1

cpr_sqlplus_user=stcpr_read
cpr_sqlplus_pw=stcpr_read

strdrft_sqlplus_user=STORDRFT
strdrft_sqlplus_pw=stordrft1

mainframe_host=hostx
mainframe_user=STCCNFTP
mainframe_pw="f8@se&9s"

#AuditFileName=COST_CENTER_backfeed
#AuditLogName=AuditBackfeedLog

banking_host=stap3ccndwv
banking_user=banking
banking_pw=tram5555

dbfldserver_host=exswdb01
dbfldserver_user=fldprrpt
dbfldserver_pw=f13ld111

fpr_file_path='/app/fldprrpt/dev/datafiles'


initLoad_log_dir=/app/ccn/dev/initLoad/log

CCNAPPSERVER_HOST=stap3ccndwv
CCNAPPSERVER_USERNAME=ccn
CCNAPPSERVER_PASSWORD=tram1000


#cpr_servername=cprdbscriptqa
#cpr_username=cprqa
#cpr_password=cprftpq1


. /app/ccn/dev/polling_db_server.config
